{% extends 'base.html.twig' %}


{% block body %}

<div class="example-wrapper">
    <h1> {{'your_notifications'|trans}} </h1>


    {% if notifications is empty %}
        <p>{{'no_notifications_found'|trans}}</p>
    {% else %}
        <ul class="notification-list">
  {% for notification in notifications %}
    <li class="notification-item">
      <p>
        {{ notification.label["name"] }} {{ notification.label["message"] }}
      </p>
      <span class="notification-date">{{ notification.label["date"] }}</span>
    </li>
  {% endfor %}
</ul>
    {% endif %}
</div>
{% endblock %}
