{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
{% if is_granted('ROLE_ADMIN') %}
<div class="form-section">
    <h1>{{'add_product'|trans}}</h1>

    {{ form_start(addProductForm) }}
        <div class="form-group">
            {{ form_label(addProductForm.name, 'product.name'|trans) }}
            {{ form_widget(addProductForm.name) }}

            {{ form_label(addProductForm.price, 'product.price'|trans) }}
            {{ form_widget(addProductForm.price) }}

            {{ form_label(addProductForm.category, 'product.category'|trans) }}
            {{ form_widget(addProductForm.category) }}

            {{ form_label(addProductForm.description, 'product.description'|trans) }}
            {{ form_widget(addProductForm.description) }}
        </div>

        <button type="submit" class="btn-submit">{{ 'save'|trans }}</button>
    {{ form_end(addProductForm) }}
    </div>

    <div class="form-section">
        <h1>{{ 'edit_product'|trans }}</h1>
        {% if products is not empty %}
            {% for product in products %}
            <div class="item-card">
                <div class="item-image">
                    <img class="product-item__img" src="{{ asset('matcha.jpg') }}" alt="Matcha latte">
                </div>

                <div class="item-texts">
                    {{ form_start(editProductForm[product.id]) }}
                    {{ form_label(editProductForm[product.id].name, 'product.name'|trans) }}
                    {{ form_widget(editProductForm[product.id].name) }}

                    {{ form_label(editProductForm[product.id].description, 'product.description'|trans) }}
                    {{ form_widget(editProductForm[product.id].description) }}

                    {{ form_label(editProductForm[product.id].price, 'product.price'|trans) }}
                    {{ form_widget(editProductForm[product.id].price) }}

                    {{ form_label(editProductForm[product.id].category, 'product.category'|trans) }}
                    {{ form_widget(editProductForm[product.id].category) }}

                    <button type="submit" name="action" class="btn btn-save" value="save">{{ 'save'|trans }}</button>
                    <button type="submit" name="action" class="btn-delete" value="delete">{{ 'delete'|trans }}</button>

                    {{ form_end(editProductForm[product.id]) }}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>{{ 'no_products_found'|trans }}</p>
        {% endif %}
    </div>
{% endif %}
</div>

{% endblock %}
