{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%;  }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome on VivaMatcha!</h1>

   
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.name }} {{ app.user.surname }}. You have
                <span class="badge bg-primary">{{ app.user.points }}</span> points.
            </div>
        {% endif %}

         <h2>Liste des articles</h2>

    <ul class="product-container">
        {% for product in products %}
            <li class="product-item">
                <a class="product-item__container" href="{{ path('app_detail_product', { id: product.id }) }}">
                <h3 class="product-item__title title" >{{ product.name }} </h3>
                <img class="product-item__img" src="{{ asset('matcha.jpg') }}" alt="Matcha latte" >
                <span>{{ product.description }}</span>
                <span>Prix : {{ product.price }} points</span>
                </a>
            </li>
        {% else %}
            <li>Aucun article trouvé.</li>
        {% endfor %}
    </ul>


</div>
{% endblock %}
