<nav>
    <ul class="nav-list">
          <a class="nav-list__logo" href="{{ path('app_homepage') }}">
            <img src="{{ asset('logo.svg') }}" alt="Logo" style="height:50px;">
        </a>

        <li><a href="{{ path('app_homepage') }}">{{ 'homepage'|trans }}</a></li>
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('app_add_product') }}">{{'products'|trans}}</a></li>
        <li><a href="{{ path('app_users_list') }}">{{'users'|trans}}</a></li>
           <li> <a href="{{ path('app_notification') }}">{{'notifications'|trans}}</a></li>
        {% endif %}
        {% if app.user %}

            <li><a href="{{ path('app_logout') }}">{{'logout'|trans}}</a></li>
           <li> <a href="{{ path('app_user_profil') }}">{{'profil'|trans}}</a></li>
        {% else %}
            <li><a href="{{ path('app_register') }}">{{'create_account'|trans}}</a></li>
            <li><a href="{{ path('app_login') }}">{{'login'|trans}}</a></li>
        {% endif %}
    </ul>
</nav>
{% if app.user and not app.user.actif %}
<div class="custom-alert" role="alert">
    {{'account_not_active'|trans}}
</div>
{% endif %}

<style>
   
</style>